*{margin: 0;padding: 0;}

:root{
    --font-color: black;
    --bg-color: #f8f8ff;
    --div-border: #f5f5f5;
    --bg-shadow: #778899;
    --bg-msg: #d4eef8;
}

body *{font-family: monospace; color: var(--font-color);}
ul{list-style: none;}
ul li{
    padding: 6px 8px 6px 12px
}
body{
    background-color: var(--bg-color);
}
h1{
    padding: 10px;
}
h3{
    padding: 2px 10px 6px 10px;
}
#principal{
    margin: 15px;
    display: flex;
}
.sessao1, .sessao2{
    padding: 10px 20px;
    margin: 12px;
    
    border-radius: 12px;
    border: 1px solid var(--div-border);
    box-shadow: 1px 1px 5px 1px var(--bg-shadow);
}
.sessao1{
    width: 78vw;
    min-height: 80vh;
}
.sessao2{
    width: 15vw;
    height: 80vh;
}

.divBloco{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
}
.blocoAcao{
    min-height: 23vw;
}
.graf{
    width: 99%;
}
#grafico{
    max-width: 100%;
}

#onOff{
    position: absolute;
    top: 6px;
    right: 15px;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid rebeccapurple;
    
}
#onOff:hover{
    background-color: rgb(255, 148, 148);
    box-shadow: 1px 1px 5px 1px var(--bg-shadow);
}
#onOff:active{
    background-color: red;
}
select{
    padding: 2px;
}
.msg{
    padding: 8px;
    border-radius: 8px;
    background-color: var(--bg-msg);
    margin-top: 8px;
}
form{
    margin-bottom: 12px ;
}
input{
    padding: 4px;
}

#tabela .itemTab{
    background-color: rgb(221, 221, 221);
    border-radius: 6px;
    width: 65vw;
    padding: 6px;
}
#tabela thead{
    background-color: rgb(176, 176, 176);
}
.botaoExcluir{
    border-radius: 6px;
    padding: 6px;
    background-color: #bf0425;
    font-size: 11pt;
    font-weight: bold;
}
#sobre{
    display: flex;
}
#sobre img{
    width: 100px;
    height: 100px;
    padding: 22px;
}
#sobre p{
    line-height: 13pt
}
@media(max-width: 1250px){
    .divBloco{
        grid-template-columns: 37vw 37vw;
    }
    .blocoAcao{
        height: 50vh;
        min-height: 400px;
    }
}
@media(max-width: 1050px){
    #principal{
        flex-direction: column-reverse;
    }
    .sessao2{
        height: 30px;
        width: 90%;
    }
    .sessao2 ul{
        display: flex;
    }
    .divBloco{
        grid-template-columns: 37vw 37vw;
    }
    .blocoAcao{
        min-height: 35vw;
    }
}
@media(max-width:900px){
    .divBloco{
        grid-template-columns: 75vw;
    }
    .blocoAcao{
        min-height: 70vw;
    }
}