<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />

    <script>
        
        async function preencherSelect() {
            const response = await fetch("{{ url_for('static',filename='data.json') }}" );//'../data.json');
            const dados = await response.json();

            const select = document.getElementById('acoes');
           // console.log(dados);
            var keys = Object.keys(dados);
            console.log(typeof keys)
            
            for(var i in keys){
                const option = document.createElement('option');
                option.value = keys[i]; 
                option.text = keys[i];
                select.appendChild(option);
            }
            
        }

        // Chame a função para preencher o select quando a página carregar
        //document.addEventListener('DOMContentLoaded', preencherSelect);

        // Envia o valor seleciona para gera o gráfico
        async function enviarValor(valor) {
            console.log(valor)
            const response = await fetch('/executar_script', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ valor: valor })
            });
            console.log("logg")
            const data = await response.json();
            const img = document.getElementById('grafico');
            img.src = 'data:image/png;base64,' + data.image;
        }

        document.addEventListener('DOMContentLoaded', () => {
            preencherSelect();

            const select = document.getElementById('acoes');
            select.addEventListener('change', (event) => {
                const valor = event.target.value;
                enviarValor(valor);
            });
        });


    </script>
</head>

<body>
    <h1>Monitor de ações</h1>
    <div id="principal">
        <div class="sessao1">
            <h3>Histórico</h3>
            <div>
                <label for="acoes">Selecione a ação</label>

                <select name="acoes" id="acoes">
                </select>
            </div>
            <img id="grafico" src="" alt="Gráfico">
            <p>...</p>
        </div>
        <div class="sessao2">
            <ul>
                <li><a href="">Suas ações</a></li>
                <li><a href="historico">Histórico</a></li>
                <li><a href="">Notificações</a></li>
                <li><a href="">Configurações</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </div>
    </div>
</body>

</html>