<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />

    <script>
        async function onOff() {
            const response = await fetch('/onOff', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ valor: 'ok' })
            });
            const data = await response.json();
        }

        function showAlert() {
            if (confirm("Você realmente deseja encerrar a aplicação? \nPara iniciar novamente basta executar o script de inicialização.")) {
                fetch('/onOff', { method: 'POST' })
                    .then(response => {
                        if (response.ok) {
                            alert("Servidor encerrado com sucesso.");
                        } else {
                            alert("Erro ao encerrar o servidor.");
                        }
                    });
            }
        }

        document.addEventListener('DOMContentLoaded', () => {

            const select = document.getElementById('onOff');
            select.addEventListener('click', (event) => {
                showAlert();
            });
        });
    </script>
</head>

<body>
    <button id="onOff">on off</button> <h1>Monitor de ações</h1>
    <div id="principal">
        <div class="sessao1">
            <h3>Atualizações</h3>
            <div class="divBloco">
                <div class="blocoAcao">
                    <h5>TGAR11.SA</h5>
                    <p>02/08/2024 - 10:30:00 - R$ 120,90</p>
                    <p>Grafico</p>
                </div>
                <div class="blocoAcao">
                    <h5>MXRF11.SA</h5>
                    <p>02/08/2024 - 10:30:00 - R$ 12,90</p>
                    <p>Grafico</p>
                </div>
                <div class="blocoAcao">
                    <h5>MXRF11.SA</h5>
                    <p>02/08/2024 - 10:30:00 - R$ 12,90</p>
                    <p>Grafico</p>
                </div>
                <div class="blocoAcao">
                    <h5>MXRF11.SA</h5>
                    <p>02/08/2024 - 10:30:00 - R$ 12,90</p>
                    <p>Grafico</p>
                </div>
            </div>
            <p>...</p>
        </div>
        <div class="sessao2">
            <ul>
                <li><a href="listaAcoes">Suas ações</a></li>
                <li><a href="historico">Histórico</a></li>
                <li><a href="">Notificações</a></li>
                <li><a href="">Configurações</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </div>
    </div>
</body>

</html>