<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
        function showAlert() {
            if (confirm("Você realmente deseja encerrar a aplicação? \nPara iniciar novamente basta executar o script de inicialização.")) {
                fetch('/onOff', { method: 'POST' })
                    .then(response => {
                        if (response.ok) {
                            alert("Servidor encerrado com sucesso.");
                        } else {
                            alert("Erro ao encerrar o servidor.");
                        }
                    });
            }
        }
        document.addEventListener('DOMContentLoaded', () => {

            const select = document.getElementById('onOff');
            select.addEventListener('click', (event) => {
                showAlert();
            });
        });
    </script>
</head>

<body>
    <button id="onOff">Desligar</button> <h1>Monitor de ações</h1>
    <div id="principal">
        <div class="sessao1">
            <h3>Atualizações - {{info}}</h3>
            <div class="divBloco">
                {% for key, value in dados.items():%}
                <div class="blocoAcao">
                    <h5>{{key.upper()}}</h5>
                    <p><b>R${{value[0]}}</b> - Volume: {{value[3]}}</p>
                    <p>Max: R${{value[1]}} - Min: R${{value[2]}}</p>
                    <p>Grafico</p>
                    <img src="data:image/png;base64,{{value[4]}}" class="graf" alt="Gráfico de {{ key }}">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="sessao2">
            <ul>
                <li><a href="listaAcoes">Suas ações</a></li>
                <li><a href="historico">Histórico</a></li>
                <li><a href="configuracoes">Configurações</a></li>
                <li><a href="sobre">Sobre</a></li>
            </ul>
        </div>
    </div>
</body>
</html>